NODE_ENV=test

# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=9plus_cms
DB_PASSWORD=9plus_cms
DB_DATABASE=9plus_core
DB_SCHEMA=public
DB_SYNC=true

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT Secrets
JWT_ACCESSTOKEN_SECRET=VtWeuJo5cPrH1gzvLX0HwPkcbVVeMkV0/a2JFeP3hGE=
JWT_REFRESHTOKEN_SECRET=tPQz6vb7nJDilma85OQExilvgZX+QyEf1CL95DmfBLA=
JWT_ISSUER=application
JWT_AUDIENCE=public

# Service URLs
COMMENTS_SVC_URL=comment-service:50051
POSTS_SVC_URL=post-service:50051
CORE_SERVICE_URL=core-service:50051
MAILER_SVC_URL=mailer-service:50051
