server.name: kibana
server.host: "0.0.0.0"
server.port: 5601

elasticsearch.hosts: ["http://elasticsearch:9200"]
elasticsearch.username: "elastic"
elasticsearch.password: "changeme"

# Monitoring
monitoring.ui.container.elasticsearch.enabled: true

# Logging
logging.appenders.file.type: file
logging.appenders.file.fileName: /var/log/kibana.log
logging.appenders.file.layout.type: json

logging.loggers:
  - name: http.server.response
    level: debug

logging.root.level: info